* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: #81b29a;
}

#instruments{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

img{
    height: 200px;
}

.instrument{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 15px;
}

table{
    size: 80% !important;
}

.beat{
    padding: 20px !important;
}