* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;

    margin: none;
    flex-direction: column;
    background-color: gainsboro;
}

#instruments{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.instrument{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 15px;
}

#tableContainer{
    display: inline-block;
    margin: 25px;
}

#tracker{
    background-color: red;
    opacity: .5;
    position: absolute;
    width: 3px;
    height: 75%;
}

#options{
    padding: 20px;
    background-color: slategray;
}

.table{
    border: slategray;
}

.cell{
    text-align: center;
}